docs/build/*
docs/doxygen_build/*
Products/*
get-manip.xcodeproj/project.xcworkspace/xcshareddata/get-manip.xccheckout
get-manip.xcodeproj/project.xcworkspace/xcuserdata/josh.xcuserdatad/WorkspaceSettings.xcsettings
get-manip.xcodeproj/xcuserdata/josh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
Makefile.in
missing
autom4te.cache
config.log
config.status
libtool
Makefile
get-manip/Makefile
get-manip/.deps/DataFile.Po
get-manip/.deps/Event.Po
get-manip/.deps/EventFile.Po
get-manip/.deps/GRAWDataItem.Po
get-manip/.deps/GRAWFile.Po
get-manip/.deps/GRAWFrame.Po
get-manip/.deps/main.Po
get-manip/.deps/Merger.Po
get-manip/.deps/PadLookupTable.Po
get-manip/.deps/Trace.Po
get-manip/.deps/UserInterface.Po
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
build
workspace.xml
